/*-------------------------------------- Фоновый градиент --------------------------------- */
#gradient {
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#589afc, endColorstr=#f0f5fc)"; /* IE 8-9 */
background: -webkit-linear-gradient(to bottom, #589afc, #f0f5fc); /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
background: -moz-linear-gradient(to bottom, #589afc, #f0f5fc); /* Firefox 3.6-15 */
background: -o-linear-gradient(to bottom, #589afc, #f0f5fc); /* Opera 11.1-12 */
background: linear-gradient(to bottom, #589afc, #f0f5fc); /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
}

/*---------------- Позиционирование картинки и наложение на нее данных -------------------- */
.wrapper{min-height: 87vh; display: flex; flex-direction: column;} /* отступ картинки сверху*/
.title{text-align: center;}
.content{flex-grow: 1; display: flex; justify-content: center; align-items: center;}
.img-block{max-width: 900px; position: relative;}   /* размер картинки*/
.img-block img{max-width: 100%;} 
.txt-top, .txt-bottom{position: absolute;}          /* позиционирование текста*/
.txt-top {top: font-size:1.3em; color:red}          /* отступ слева и сверху для верхней надписи*/

/*---------------- стиль кнопок «ON» и «OFF»; -------------------- */
.button {
  padding: 5px 43px;             /*высота и ширина кнопки*/
  font-size: 18px;               /*размер шрифта кнопки (размер кнопки адаптируется под размер шрифта)*/
  text-align: center;            /*центровка надписи внутри кнопки*/
  outline: none;
  color: #fff;                   /*цвет шрифта в кнопке*/
  /*background-color: #0f8b8d;   /*цвет кнопки*/
  border: none;
  border-radius: 5px;            /*радиус закругления углов кнопки*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
 }
 
/*  button:hover {background-color: #6b0f8c} /* Цвет кнопки при наведении */
 .button:active {
   background-color: #0f8b8d;
   box-shadow: 2 2px #CDCDCD;
   transform: translateY(2px);
 }
 
 .description {
   font-size: 1.1rem; /* размер шрифта описания кнопки */
   color:#ffffff;     /* цвет шрифта описания кнопки*/
   font-weight: bold;
   text-align: center; /*центровка надписи относительно кнопки*/
 }