/*-------------------------------------- Фоновый градиент --------------------------------- */
#gradient {
background: -webkit-linear-gradient(to bottom, #589afc, #f0f5fc); /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
background: -moz-linear-gradient(to bottom, #589afc, #f0f5fc);    /* Firefox 3.6-15 */
background: -o-linear-gradient(to bottom, #589afc, #f0f5fc);      /* Opera 11.1-12 */
background: linear-gradient(to bottom, #589afc, #f0f5fc);         /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
background-attachment: fixed;         /* Фон страницы фиксируется */
background-repeat: no-repeat;         /* изображение  не повторяется */
background-size: 100%;                /* растянуть фоновое изображение на весь размер окна браузера */
background-position: center;          /* позиционируем по центру */
}

/* ---------- Шрифты цифровых показателей ----------- */
 @font-face {
  font-family: 'seven-segment';
  src: url("seven-segment.ttf") format("truetype")
}

#in_1 {
  font-family: 'seven-segment', sans-serif;
  font-size: 2.10rem;
  text-shadow: 0 1px 2px #000;
  color: #2f2;
}

#in_2 {
  font-family: 'seven-segment', sans-serif;
  font-size: 2.10rem;
  text-shadow: 0 1px 2px #000;
  color: #2f2;
}

#in_3 {
  font-family: 'seven-segment', sans-serif;
  font-size: 2.10rem;
  text-shadow: 0 1px 2px #000;
  color: #2f2;
}

#in_4 {
  font-family: 'seven-segment', sans-serif;
  font-size: 2.10rem;
  text-shadow: 0 1px 2px #000;
  color: #2f2
}

#in_5 {
  font-family: 'seven-segment', sans-serif;
  font-size: 2.10rem;
  text-shadow: 0 1px 2px #000;
  color: #2f2;
}

#in_6 {
  font-family: 'seven-segment', sans-serif;
  font-size: 2.10rem;
  text-shadow: 0 1px 2px #000;
  color: #2f2;
}

#in_7 {
  font-family: 'seven-segment', sans-serif;
  font-size: 1.35rem;
  text-shadow: 0 1px 2px #000;
  color: #2f2;
}

#in_8 {
  font-family: 'seven-segment', sans-serif;
  font-size: 1.35rem;
  text-shadow: 0 1px 2px #000;
  color: #2f2;
}

#time1 {
  font-family: 'seven-segment', sans-serif;
  font-size: 1.35rem;
  text-shadow: 0 1px 2px #000;
  color: rgb(12, 93, 199);
}

#time2 {
  font-family: 'seven-segment', sans-serif;
  font-size: 1.35rem;
  text-shadow: 0 1px 2px #000;
  color: rgb(12, 93, 199);
}

#time3 {
  font-family: 'seven-segment', sans-serif;
  font-size: 1.35rem;
  text-shadow: 0 1px 2px #000;
  color: rgb(12, 93, 199);
}

#uptime {
  font-family: 'seven-segment', sans-serif;
  font-size: 3.00rem;
  text-shadow: 0 1px 2px #000;
  color: rgb(209, 179, 6);
}

/*------------ Позиционирование заголовка: Контрольная панель - "Умная теплица" ---------- */
#home {                   /* размер иконки (домик) */
    width: 72px;          
    height: 70px;
}

p {
    text-indent: 50px;
}
	
 h1 {	 
  text-align: center;            /* центровка заголовка */
	font-size: 40px;               /* размер шрифта заголовка */
	text-shadow: 3px 2px rgb(99, 98, 98);   /* тень */
}

/* -------------- Линия----------------*/
.hr-shadow {
	margin: 20px 0;
	padding: 0;
	height: 10px;
	border: none;
	border-top: 1px solid #333;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/*---------------- Главный блок -------------------- */
.wrapper {width: 900px; max-width: 100%; height: 900px; max-height: 100%; }
.wrapper {margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;}

/*---------------- Позиционирование картинки и наложение на нее данных -------------------- */
.title {text-align: center;}
.img-block {flex-grow: 1; display: flex; justify-content: center; align-items: center;}
.img-block {max-width: 900px; position: relative;}      /* размер и позиционирование картинки*/
.img-block img {max-width: 100%;} 
.txt-top, .txt-bottom {position: absolute;}             /* позиционирование текста*/
.txt-top {font-size: 1.15em; color: rgb(255, 0, 0);}  /* отступ слева и сверху для верхней надписи*/
.ota {font-size: 1.05em; color: rgb(16, 67, 235);}    /* отступ слева и сверху для верхней надписи*/

/*---------------- стиль кнопок «ON» и «OFF» -------------------- */
.button_off {
  cursor: pointer;                 /* при наведении мышки на кнопку появлялась рука */
  padding: 5px 43px;               /* высота и ширина кнопки */
  font-size: 18px;                 /* размер шрифта кнопки (размер кнопки адаптируется под размер шрифта) */
  text-align: center;              /* центровка надписи внутри кнопки */
  outline: none;
  color: #fff;                     /* цвет шрифта в кнопке */
  background-color: #c90411;       /* цвет кнопки */
  border: none;
  border-radius: 5px;              /* радиус закругления углов кнопки */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
 }

 .button_on {background-color: #04b50a;}
 
/*  button:hover {background-color: #6b0f8c} /* Цвет кнопки при наведении */
 /* .button:active {
   background-color: #04b50a;
   box-shadow: 2 2px #cdcdcd;
   transform: translateY(2px);
 } */
 
 .description {
   font-size: 1.1rem;    /* размер шрифта описания кнопки */
   color:#ffffff;      /* цвет шрифта описания кнопки */
   font-weight: bold;
   text-align: center;   /* центровка надписи относительно кнопки */
 }
 
 /*---------------- Окна ввода температурного порога и таймеров -------------------- */
.txt-left {position: absolute;}                    /* позиционирование текста*/
.txt-left {left: font-size 1.3em; color:bold}      /* отступ слева и сверху для верхней надписи*/

 /*---------------- Окна блока кнопок -------------------- */
.txt-right {position: absolute;}                    /* позиционирование блока кнопок*/
.txt-right {left: font-size 1.3em; color:bold}      /* отступ слева и сверху для кнопок*/

 #dva1 {
  width: 4em; /*Длинна окна*/
}

#dva1::-webkit-inner-spin-button { 
  opacity: 1; /*Показать стрелки в окне*/
}

 #dva2 {
  width: 4em; /*Длинна окна*/
}

#dva2::-webkit-inner-spin-button { 
  opacity: 1; /*Показать стрелки в окне*/
}

 #dva3 {
  width: 4em; /*Длинна окна*/
}

#dva3::-webkit-inner-spin-button { 
  opacity: 1; /*Показать стрелки в окне*/
}

 #dva4 {
  width: 4em; /*Длинна окна*/
}

#dva4::-webkit-inner-spin-button { 
  opacity: 1; /*Показать стрелки в окне*/
}

 /*---------------- Окно ввода времени таймеров -------------------- */
 #appt {
  width: 6em; /*Длинна окна */
 }